body {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border-radius: 5px;
    background-color: #e5e5e5;
    border-bottom: 1px solid #eaeaea;
    width: auto;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 1rem;
    list-style-type: none;
}

.navLink {
    text-decoration: none;
    color: #111;
}

.navLink:focus {
    color: #5353ff;
}

footer {
    background-color: #eaeaea;
}